{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["svelte3"],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ]
}
